 header {
     background-color: #6bb79b;
 }

 .header {
     text-align: center;
 }

h1 {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
    color: white;
}

html, body {
    background-color: #333333;
}

.disclaimer {
    position: relative;
    margin-top: 30px;
    background-color: #414141;
    height: 110px;
    width: 100%;
    text-align: center;
    display: block;
}

.message {
    background-color: #333333;
    text-align: center;
    display: none;
}

.message-text {
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 6px;
    font-size: 85px;
}

.message-text-result {
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 6px;
    font-size: 65px;
}

/*.message-text {
    color: blue;
    font-size: 90px;
}

.message-text:before {
    content '';
    background-color: blue;
    border: 1px solid white;
}*/

.disclaimer-text {
    position: absolute;
    color: white;
    top: 30%;
    width: 288px;
    font-size: 20px;
}

.shot-map {
    margin-top: 30px;
    display: flex;
    height: 74px
}

.set-text {
    height: 100%;
    font-size: 18px;
    color: white;
    width: 55px;
    margin-right: 20px;
}

.circles {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 220px;
}

.circle-row {
    display: flex;
}

.circle-row:first-child {
    margin-bottom: 24px;
}

.circle {
    margin-right: 23px;
}

.results {
    margin-top: 20px;
}

.results-straight p,
.results-straight span,
.results-curved p,
.results-curved span {
    font-size: 18px;
}

.main-button {
    text-align:center;
    line-height: 50px;
    height: 50px;
    width: 215px;
    color: white;
    font-size: 20px;
    background-color: #6bb79b;
    margin: 0 auto;
    margin-top: 40px;
}

.main-button:active {
    background-color: #5CA087;
}

/************************* FINAL PAGE ********************/
.final-page {
    display: none;
}

.percentage-results {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
  color: white;
}

.percentage {
  font-size: 48px;
}

.percentage-text {
  font-size: 16px;
}

.score-box {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  margin-top: 30px;
  background-color: #414141;
  height: 140px;
  width: 305px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.score-box img {
  margin-right: 5px;
}

.score-result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 25px;
}

.tips-header {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}

.tips-box {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: #414141;
  /*height: 140px;*/
  /*padding: 0 20px;*/
  width: 305px;
  color: white;
}

.tips-list {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
  width: 275px;
  list-style-position: outside
}

.tip {
  margin-left: 20px;
}

/* background color for box: 414141 */
